h1{
    font-family: Arial;
}

h4{
    font-family: Arial;
    font-size: larger;
}

p{
    font-family: Arial;
}

li{
    font-family: Arial;
}

a{
    font-family: Arial;
}

.largeFont{
    font-size: 20px;
}

footer{
    text-align: right;
    background-color: darkslategrey;
    color: white; 
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

header{
    text-align: left;
    opacity: 100;
    background-color: darkslategrey;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#map{
    width: 100%;
    height: 400px;
}